#filters { background-color: #DDD; }

.word { padding: 5px 0; }
.arabic { direction: rtl; font-size:28px; }
.word span { padding: 0 10px; cursor: pointer; }
.word span:hover { text-decoration: underline; }
.word:before { content: attr(data-count); color: #bbb; }
.verse.arabic { font-size:20px; }
.verse { padding: 5px; margin: 5px 0; background-color: #fff6f0; }
.verse:before { content: "("attr(data-chapter)":"attr(data-verse)")"; padding: 0 5px; font-size:14px; }

.memory { cursor: pointer; }
.word.memorized { color: #F66; }
#word-stats { position: fixed; bottom:0; left:0; right:0; border-top: 1px solid #111; font-size: 0.875rem; }
.stats { padding-top: 3px; }
.stats.full { background-color: #FFD; }
.stats.full:before { content: "Full Text"; }
.stats.filtered { background-color: #DDF; }
.stats.filtered:before { content: "Filtered"; }
#word-stats label { display: inline-block; padding-left:35px; padding-right: 5px; }
#word-stats label:after { content: ":"; }
.percent:after { content: "%"; }