#filters { background-color: #DDD; }

.word { padding: 5px 0; }
.arabic { direction: rtl; font-size:28px; }
.word span { padding: 0 10px; cursor: pointer; }
.word span:hover { text-decoration: underline; }
.word:before { content: attr(data-count); color: #bbb; }
.verse.arabic { font-size:20px; }
.verse { padding: 5px; margin: 5px 0; background-color: #fff6f0; }
.verse:before { content: "("attr(data-location)")"; padding: 0 5px; font-size:14px; }

.memory { cursor: pointer; }
.word.memorized { color: #F66; }